form{
  width: 100%;
}

mat-form-field{
  width: 100%;
}

button{
  margin-right: 1rem;
}

.contenido{
  display: flex;
}
.campos{
  max-width: 500px;
  padding-right: 1em;
}
.organismos{
  width: 100%;
  max-height: 500px;
}
