<app-menu></app-menu>


<div class="container">
<table mat-table [dataSource]="dataSource" #mytable class="mat-elevation-z8">


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="sueldo">
      <th mat-header-cell *matHeaderCellDef>Sueldo</th>
      <td mat-cell *matCellDef="let element"> {{element.sueldo}} </td>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
    </ng-container>

    
    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element" [satPopoverAnchor]="p" (click)="p.open()">
        {{element.inicio  |  dateFormat: 'MMM DD YYYY'}}
        <sat-popover #p [hasBackdrop]="true" xAlign="start" yAlign="start"
          (closed)="updateFechaAval(element, $event)">
        <inline-edit [value]="element?.inicio | date:'dd/MM/yyyy'"></inline-edit>
        </sat-popover>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns">
    </tr>
  </table>

</div>





<router-outlet></router-outlet>